
.task_page_container{
  width: 100%;
  height: 100vh;
  display: flex;
}
.task_list_container{
  width: 40%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: start;
  overflow-y: auto;
  background-color: #adeada;
  border-left: 1px solid gray;
}
.task_list_container::-webkit-scrollbar{
  width: 0;
}


