  <section class="task">
  <div class="task_card_color"></div>
  <div class="task_content">
    <div class="task_box_label flex-row">
      <h3 class="task_label">Tarefa: <span>Nome</span></h3>
    </div>
    <div class="task_box_label ">
      <h3 class="task_label">Descrição da Tarefa:</h3>
      <p class="task_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, cum fuga temporibus cupiditate in esse </p>
    </div>
    <div class="task_box_label flex-row">
      <h3 class="task_label">Data:</h3>
      <span class="task_date_time">20/20/20</span>
      <h3 class="task_label">Hora:</h3>
      <span class="task_date_time">10:30</span>
    </div>
  </div>
</section>
